*.DS_Store
build
**/build
src/test/java/exploration
.gradle
spring-android-commons-logging/src/test/java/exploration
spring-android-rest-template/src/test/java/exploration
**/.classpath
**/.project
**/lib
